@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  overflow: auto;
  overflow-x: hidden; 
  scrollbar-width: none;   /* Firefox */
}

::-webkit-scrollbar {
  width: 0;                     /* Remove scrollbar space */
 /* background: transparent;   /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
  background: #FF0000; */
/* } */

body {
  margin: 0;
  background-color: #3f3f3f;
}